{% extends 'auctions/layout.html' %}

{% block title %}Categories{% endblock %}

{% block body %}
<h2 class="text-center">Categories</h2>

<div class="category-container">
{% for category in categories %}
    <a href="{% url 'category_listings' category.id %}">
        <div class="category">
            <div class="category-image-frame">
                <img class="category-image" src="{{ category.img_url }}">
            </div>
            <div class="category-text">{{ category.name }}</div>
        </div>
    </a>
{% endfor %}
</div>

{% endblock %}