{% extends 'auctions/layout.html' %}

{% block title %}Create Listing{% endblock %}

{% block body %}
<h2 class="text-center">Create Listing</h2>
<form action="create_listing" method="post">
    {% csrf_token %}
    <div class="create-listing-container">
        <div class="input-row">
            <label class="input-label" for="id_title">Listing Title:</label>
            <input class="input-form" type="text" name="title" maxlength="64" required id="id_title" placeholder="Enter the name of your listing">
        </div>

        <div class="input-row">
            <label class="input-label long-input" for="id_description">Description:</label>
            <textarea class="input-form description" type="text" name="description" maxlength="256" required id="id_description" placeholder="Please provide a brief description of your listing"></textarea>
        </div>

        <div class="input-row">
            <label class="input-label" for="id_starting_bid">Starting bid:</label>
            <div class="dollar-sign">$</div>
            <input class="input-form" type="number" name="starting_bid" min="0" required id="id_starting_bid" placeholder="Please enter the price / starting bid">
        </div>            

        <div class="input-row">
            <label class="input-label" for="id_category">Category (optional):</label></th>
            <select class="input-form" name="category" id="id_category">
                <option value="" selected>---------</option>
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="input-row">
            <label class="input-label long-input" for="id_img_url">Img url (optional):</label>      
            <input class="input-form" type="url" name="img_url" maxlength="200" id="id_img_url" placeholder="Please enter the URL for the image that will appear on the listing page">
        </div>
        
        <div class="submit-button">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </div>
</form>
{% endblock %}