{% extends 'auctions/layout.html' %}

<!-- For update -->
{% block title %}{{ listing.title }}{% endblock %}

{% block body %}
    <h2>Listing</h2>
    <div>
        <ul>
            <h5>{{ listing.title }}</h5>
            
            <!-- If there is an img url provided -->
            {% if listing.img_url %}
                <img class="listing-image" src="{{ listing.img_url }}">
            {% endif %}
            
            <li><strong>Price: $ {{ listing.starting_bid }}</strong></li>
            <li>{{ listing.description }}</li>
            <li>Listed by: {{ listing.user }}</li>
            
            {% if listing.category %}
                <li>Category: {{ listing.category}}</li>
            {% else %}
                <li>Category: No category listed.</li>
            {% endif %}

        </ul>

        <!-- If listing is active, we can show the current highest bid -->
        {% if listing.status == "Active" %}
            Highest bid: 
            <!-- Check if there are existing bids -->
            {% if highest_bid is None %}
                There are no existing bids.
            {% else %}
                $ {{ highest_bid.amount }} by {{ highest_bid.user }}
            {% endif %}
        {% endif %}

        <!-- If logged in -->
        {% if user.is_authenticated %}
            <!-- If listing is active -->
            {% if listing.status == "Active" %}
                <!-- Users can bid -->
                <form action="{% url 'submit_bid' listing.id %}" method="post">
                    {% csrf_token %}
                    <input type="number" min="0" name="bid_amount" placeholder="Enter bid amount" value="{{ current_bid }}">
                    <button type="submit">Place Bid</button>
                </form>
                
                <!-- In case of failed bid -->
                {% if failed_bid %}
                    Sorry, your bid must be higher than the current highest bid, or the starting price (if no existing bids).
                {% endif %}

                <!-- If user's own listing, user can close the listing -->
                {% if listing.user == user %}
                    <form action="{% url 'close_listing' listing.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Close Listing</button><span>Note: This will close the listing and award to the winning bidder</span>
                    </form>
                {% endif %}

                <!-- Also, if logged in, can add to or remove from watchlist -->
                {% if not in_watchlist %}
                    <form action="{% url 'add_to_watchlist' listing.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Add to Watchlist</button>
                    </form>
                {% else %}
                    <form action="{% url 'remove_from_watchlist' listing.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="request_source" value="listing">
                        <button type="submit">Remove from Watchlist</button>
                    </form>
                {% endif %}

                <h4>Comments</h4>
                <div>
                    <form action="{% url 'add_comment' listing.id %}" method="post">
                        {% csrf_token %}
                        <textarea name="comment_content" cols="100" rows="2" placeholder="Enter comment"></textarea>
                        <button type="submit">Add Comment</button>
                    </form>
                </div>
                <div>
                    <ul>
                        {% for comment in comments %}
                        <li>
                            <em>[{{ comment.created }}] </em><strong>{{ comment.user }}:</strong> {{ comment.content }}
                        </li>
                        {% empty %}
                            No comments on this listing.
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <!-- Bidding is closed -->
                Bidding is closed.
                <!-- If user is the winning bidder -->
                {% if highest_bid.user == user %}
                    Congratulations! You won the bid for this listing.
                {% endif %}
            {% endif %}

        {% endif %}
    </div>
{% endblock %}